import React from "react";
import "./{{properCase name}}.component.css";

const {{properCase name}} = (props) => { 
  return (
    <div className="{{properCase name}}">
      <h1>{{properCase name}}: OK</h1>
    </div>
  ); 
};

export default {{properCase name}};